@import './variables.css';

.login_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px;
  background-color: var(--login_back);
  font-family: 'Poppins';
}

.login_page-input {
  background-color: var(--green_1);
  width: 50%;
  margin: 10px;
}

.login_page-button {
  font-family: 'Lobster';
  font-size: 1.5em;
  color: aliceblue;
  background-color: var(--button_color_2);
}
