@import './variables.css';

.register_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px;
  background-color: var(--red_1);
  font-family: 'Poppins';
}

.register_page-input {
  width: 50%;
  margin: 10px;
  color: var(--green_2);
}

.register_page-button {
  font-family: 'Lobster';
  font-size: 1.5em;
  background-color: var(--button_color);
  color: var(--text_white);
}