@import './variables.css';

.register_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px;
  background-color: var(--register_back);
  font-family: 'Poppins';
}

.register_page > input, button {
  border-radius: 4px;
  border: none;
  padding: 15px;
  width: 50%;
  margin: 10px;
}

.register_page > button {
  font-family: 'Lobster';
  font-size: 1.5em;
  color: aliceblue;
  background-color: var(--button_color);
}