:root {
  --register_back: #222831;
  --login_back: #ffffff;
  --button_color: #29a19c;
  --button_color_2: #da2d2d;
  --color_1: #36b5b0;
  --green_1: #42b883;
  --green_2: #347474;
  --red_1: #ff0000;
  --red_2: #af0404;
  --text_white: #fffdf9;
}